.container {
    all: unset;
    background-color: #eef3ef;
    width: 65%;
    display: block;
    margin: 0 auto;
}

.back-link {
    margin-left: 50px;
    margin-top: 15px;
    color: black;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    display: inline-block;
}

.back-caption {
    margin-left: 106px;
    width: 100px;
    text-decoration: underline;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #2f2f2f;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.back-image {
    scale: 75%;
}

.back-link:hover .back-caption {
    opacity: 1;
}

h2 {
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.wrapper {
    display: flex;
    width: 100%;
}

.upload-admin {
    margin-top: 30px;
    width: 30%;
    text-align: center;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;

    .cancle-rate {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .cancle-value {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 35px;
            background-color: #FF84A9;
            border-radius: 5px;
            width: 75%;
            height: 60px;
        }

        .cancle-caption {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 23px;
            font-style: italic;
        }
    }

    .block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .block-caption {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 23px;
            font-style: italic;
        }
    }

}

.inputs {
    width: 70%;
}

.input-group {
    align-items: center;
    width: 75%;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
}

.input-group input {
    all: unset;
    background-color: white;
    font-size: 18px;
    border-radius: 25px !important;
    height: 35px;
    width: 350px;
    border: 1px solid black;
    padding-left: 13px;
}

.profile-label {
    width: 100px;
    font-weight: bold;
    font-size: 20px;
}

.submit {
    background-color: #00B2FF;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 2px 25px 4px 25px;
    margin: 30px auto 10px;
    display: block;
}