.container-detailMaid {
    display: flex;
    justify-content: center;
    height: 100vh;

    .infor-container {
        display: flex;
        width: 60%;
        height: 100vh;
        background-color: #F5FAF7;
        position: relative;

        .btn-report {
            display: flex;
            justify-content: center;
            background-color: red;
            position: absolute;
            top: 10px;
            left: 30px;
            border-radius: 1.35rem;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            width: 60px;
            height: fit-content;
            color: #F5FAF7;
            font-weight: bold;
        }

        .table-detail {
            width: 85%;

            form {
                margin-left: 70px;
                height: 100%;

                .title-content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 5%;
                    font-size: 1.5rem;
                    font-weight: bold;
                }

                .form-row {
                    margin-left: 15px;
                    width: 87%;

                    .form-group {
                        display: flex;
                        margin-bottom: 17px;


                        .form-control {
                            border-radius: 1.375rem !important;
                        }

                        label {
                            width: 30%;
                            font-weight: bold;
                            display: flex;
                            align-items: center;
                        }
                    }

                    .btn-submit {
                        display: flex;
                        justify-content: space-evenly;

                        .btn-primary {
                            font-weight: bold !important;
                        }
                    }
                }
            }


        }

        .infor-addtion-admin {
            height: 100vh;
            width: 40%;
            display: grid;
            grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
            padding-top: 70px;

            .btn-avt {

                // css for image fit with size of div
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    padding-right: 20px;
                }
            }

            .btn-price {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-right: 20px;

                .price-title {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .title-col1 {
                        font-size: 17px;
                        font-weight: bold;
                    }

                    .title-col2 {
                        // chu nghieng
                        font-style: italic;
                    }
                }
            }

            .btn-cancle-rate {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .cancle-rate {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 35px;
                    background-color: #FF84A9;
                    border-radius: 5px;
                    width: 75%;
                    height: 60px;
                    // font-weight: bold;
                }

                .cancle-title {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 23px;
                    font-style: italic;
                }
            }

            .btn-block {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .block-title {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 23px;
                    font-style: italic;
                }
            }

            .btn-evaluation-review {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;

                .btn-evaluation {
                    display: flex;
                    flex-direction: column;
                    // gap: 5px;
                    justify-content: center;
                    align-items: center;

                    .btn-evaluation-number {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 30px;
                        background-color: #00FACD;
                        border-radius: 50%;
                        width: 60px;
                        height: 60px;
                    }
                }

                .btn-review {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: #BBFB03;
                    border-radius: 5px;
                    font-size: 15px;
                    width: 80px;
                    height: 90px;

                    .btn-review-title {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        font-weight: 600;
                        color: white;
                    }
                }
            }
        }
    }
}