@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Delius+Unicase:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  position: relative;
  width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}


.font-delius {
  font-family: "Delius Unicase";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: black;
}
