.admin-review-container {
    display: flex;
    justify-items: center;
}
.admin-review-nav{
    width: 20%;
    background-color: #D9D9D9;
    text-align: center;
    height: 340px;
}
.avt {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: white;
}
.admin-review-nav .avt {
    margin: 0 auto;
}
.admin-review-nav .pre {
    width: 22px;
    margin: 5px 0 10px 10px;
}
.admin-review-nav label {
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}
.admin-review-nav span {
    background-color: #00FACD;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 5px;
    font-weight: bold;
}
.admin-review-nav .search {
    position: relative;
    width: 70%;
    margin: 0 auto;
}
.admin-review-nav .search input{
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 43px;
    height: 30px;
    width: 100%;
}
.admin-review-nav .search img {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 10px;
    top: 51%;
    transform: translateY(-50%);
}
.admin-review-list {
    width: 60%;
    height: 100vh;
    background-color: #F5FAF7;
}
.admin-review-list .container{
    margin: 0 auto;
    width: 90%;
}
.item-review {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 97px;
    margin-top: 5px;
    background-color: #e1e1e1;

}
.item-review .icon{
    width: 25px;
    height: 25px;
}
.item-review .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 30px;
}
.item-review .name {
    all: unset;
    flex: 1;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-top: 3px;
}
.item-review .content {
    flex: 1.5;
    font-size: 24px;
    font-weight: bold;
}
.item-review .avt {
    margin-left: 20px;
}
.item-review .heart, .dislike {
    width: 80px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    margin-left: 15px;
}
.item-review .delete {
    width: 30px;
    height: 30px;
    margin: 0 15px 0 35px;
}
.heart .icon, .dislike .icon {
    margin-left: 5px;
    margin-top: 5px
}
.admin-review-list .container .pagination {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    user-select: none;
}
.active>.page-link, .page-link.active{
    background: none;
    color: black;
    text-decoration: underline;
}
.page-link {
    background: none;
    border: none;
    color: black;
    font-weight: 550;
    font-size: 20px;
}